extends layout


block content
	div(ng-controller="BubblesAdminController", flex, layout="column", layout-wrap, layout-padding)

		section(layout="row", flex)
			//- md-sidenav.md-sidenav-left(md-component-id="left", md-is-locked-open="true", md-whiteframe="4")
				md-content(layout-padding)
					h2 Tags
					ul.tags
						li(ng-repeat="tag in tags.all", layout-wrap, flex, layout="row")
							div(flex=50, style="padding-top:25px")
								md-checkbox(
									aria-label="{{tag.name}}"
									ng-model="query.tags[tag.id]")
									span {{tag.name}}
							div(flex=50)
								md-color-picker(
									ng-model="valueObj"
								)


					
					
					//- pre {{ query | json }}

			md-content(flex, layout-padding)
				md-input-container.scrapes(layout="column", layout-align="center center")
					label Scrape Date #1
					md-select(ng-model="query.scrape1", aria-label="Scrape Date #1")
						md-option(ng-repeat="scrape in scrapes.all", ng-value="scrape")
							{{scrape.updatedAt | date:'dd/MM/yyyy HH:mm'}}
				//- Graph			
				div.graph
					nvd3(options="graphs.d3options", data="graphs.data[0]")

				div.tags(ng-controller="TagSelectorController")
					div.summary
						span Showing all tags
					div.controls
						md-button.md-raised.md-primary(
							ng-repeat="tag in availableTags"
							ng-click="toggleTag(tag)"
							ng-class=" isSelected(tag) ? 'selected': '' "
						) {{tag.name}}


			md-content(flex, layout-padding)
				md-input-container.scrapes(layout="column", layout-align="center center")
					label Scrape Date #2
					md-select(ng-model="query.scrape2", aria-label="Scrape Date #2")
						md-option(ng-repeat="scrape in scrapes.all", ng-value="scrape") {{scrape.updatedAt | date:'dd/MM/yyyy HH:mm'}}
				//- Graph			
				div.graph
					nvd3(options="graphs.d3options", data="graphs.data[1]")
