extends ../layouts/admin


block content
	div(ng-controller="TagsController", layout="column")

		section(layout="row", flex)

			md-content(flex, layout-padding, layout="row")

				md-list(flex)
					md-list-item(
						ng-repeat="tag in tags.all"
						ng-click="showEditTagForm(tag)"
						)
						p {{tag.name}}
					
					//- Create New tag link
					md-list-item(ng-click="showCreateTagForm()")
						p Create new tag

			//- Edit tag
			md-sidenav.md-sidenav-right.md-whiteframe-4dp(
				md-component-id="editTagForm"
				)

				md-toolbar.md-theme-light
					h1.md-toolbar-tools {{tagDetail.name}}

					md-content(layout-padding)
						
						form(flex, name="editTagForm")
							md-input-container
								label Tag name
								input(
									required
									md-minlength="2"
									ng-model='tagDetail.name'
								)

							md-button.md-primary.md-raised(
								ng-click="update()"
								ng-disabled="!editTagForm.$dirty || editTagForm.$invalid"
								type="submit"
							) Save Changes

						divider

						md-button.md-raised.md-warn(
							ng-click="deleteTag()"
						) Delete Tag

			//- Create New tag
			md-sidenav.md-sidenav-right.md-whiteframe-4dp(
				md-component-id="createTagForm"
				)

				md-toolbar.md-theme-light
					h1.md-toolbar-tools Create New Tag

					md-content(layout-padding)
						
						div.form(flex, name="newTagForm")
							md-input-container
								label Tag name
								input(
									required
									md-minlength="2"
									ng-model='newTagName'
								)

							md-button.md-primary.md-raised(
								ng-click="createNewTag()"
								ng-disabled="newTagForm.$invalid"
								type="submit"
							) Create tag
