div.tag-selector
	div.summary
		span Selected Tags: 
		span(ng-show="allTags") All
		span(ng-hide="allTags || selectedTags.length") None
		span(
			ng-hide="allTags"
			ng-repeat="selectedTag in selectedTags"
		) {{selectedTag.name}}{{$last ? '':', '}}
	div.tags
		
		md-checkbox(
			ng-model="allTags"
			ng-change="toggleAllTags()"
		) Show All tags

		md-button.md-raised.md-primary(
			ng-disabled="allTags"
			ng-repeat="tag in availableTags"
			ng-click="toggle(tag)"
			ng-class=" isSelected(tag) ? 'selected': '' "
		) {{tag.name}}