div.tag-selector(ng-show="availableTags.length > 0")
	
	div.tag-selector-tags

		md-input-container
			md-select(ng-model="booleanOperator")
				md-option(ng-value=" 'AND' ") Match All
				md-option(ng-value=" 'OR' ") Match One+

		md-button.md-raised.md-primary(
			ng-repeat="tag in availableTags"
			ng-click="toggle(tag)"
			ng-class=" isSelected(tag) ? 'selected': '' "
		) {{tag.name}}

	div.tag-selector-summary
		span(ng-show="availableTags.length == selectedTags.length") All
		span(ng-hide="selectedTags.length") None
		span(
			ng-hide="availableTags.length == selectedTags.length"
			ng-repeat="selectedTag in selectedTags"
		) {{selectedTag.name}}{{$last ? '':', '}}